@import './mixins.scss';
@import './colors.scss';

.new-articles {
  background-color: $very-dark-blue;
  color: $off-white;
  padding: 2rem 1rem;
  margin-bottom: 3rem;

  @include desktop {
    margin-bottom: 0;
  }

  &__section-title {
    font-size: 2rem;
    font-weight: bold;
    color: $soft-orange;
    margin-bottom: 1.5rem;

    @include desktop {
      font-size: 4rem;
    }
  }

  &__item {
    @include anchor-reset;
    display: block;
  }

  &__title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.75rem;

    &:hover {
      color: $soft-orange;
    }

    @include desktop {
      font-size: 1.5rem;
    }
  }

  &__description {
    @include text-paragraph;
    
    color: $grayish-blue;
  }

  &__separator {
    margin: 2rem 0;
    border-color: $grayish-blue;
  }
}
