@import './mixins.scss';
@import './colors.scss';

.popular {
  display: contents;

  &__item {
    @include anchor-reset;

    display: grid;
    gap: 1rem;
    margin-bottom: 2rem;
    grid-template-columns: auto 1fr;

    @include desktop {
      margin-bottom: 0;
      grid-template-columns: 1fr 2fr;
    }
  }

  &__rank {
    color: $grayish-blue;
    font-size: 2rem;
    font-weight: bold;
  }

  &__text-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include desktop {
      display: grid;
      gap: 0;
    }
  }

  &__title {
    font-size: 1.25rem;
    font-weight: bold;

    &:hover {
      color: $soft-orange;
    }
  }

  &__description {
    @include text-paragraph;

    color: $dark-grayish-blue;
  }
}